body{
    background-color: white;
    display: flex;
    justify-content: center;
}
section{
    width: 300px;
    height: 400px;
    background-color: teal;
    margin-top: 70px;
    padding: 15px;
    border-radius: 20px;
}